# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# visual studio config file
*.user
*.pro.user
*.sdf
*.opensdf
*.suo

# intermedia Files
debug
intermediate

# Output Files
Run

# qt project generate for vs
GeneratedFiles
